/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}
/*menu admin*/
.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #FF0000;
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }
}

.blue:hover,
.blue:focus {
  outline: none;
  background-color: #15A9FA !important;
}

.grey:hover,
.grey:focus {

  background-color: #D9D9D3 !important;
}

.green:hover,
.green:focus {
    outline: none;
    background-color: #45BF55 !important;
}



.side-nav>li>ul {
    padding: 0;
}
  /*menu hover couleur écrit*/
.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #fff;
}

/* couleur écrit hover */
.side-nav>li>ul>li>a:hover {
    color: #fff;
}

#wrapper {
  margin-top: 50px;
}
@media (max-width: 768px) {
  #wrapper {
    margin-top: 100px;
  }
}
@media (min-width: 768px) {
  #wrapper {
    padding-left: 225px;
  }
}

table, th, td {
    border: 1px solid black;
}

@font-face {
	font-family: 'rpg-icons';
	src:url('../fonts/rpg-icons.eot');
	src:url('../fonts/rpg-icons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/rpg-icons.woff') format('woff'),
		url('../fonts/rpg-icons.ttf') format('truetype'),
		url('../fonts/rpg-icons.svg#rpg-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}*/
