<!-- Formulaire de contact -->
<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12">
			<h1> Nous contacter </h1>
			<hr />
			<form role="form" id="contact-form" class="contact-form">
    		<div class="form-group">
          <input type="text" class="form-control" name="Name" autocomplete="off" id="Name" placeholder="Nom">
    		</div>
        <div class="form-group">
        	<input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="E-mail">
        </div>
    		<div class="form-group">
          <textarea class="form-control textarea" rows="3" name="Message" id="Message" placeholder="Message"></textarea>
    		</div>
        <button type="submit" class="btn main-btn pull-right">Envoyer</button>
      </form>
		</div>
	</div>
</div>
