<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
    <table class="table">
      <tr>
    <th>Nom</th>
    <th>Attaque</th>
    <th>Effets spéciaux</th>
    <th>Emplacemet</th>
  </tr>
  <tr>
    <td>Lame Motorisée</td>
    <td>28</td>
    <td>Chances de récupérer de l'essence élémentaire sur les ennemis</td>
    <td>Arme par défaut</td>
  </tr>
  <tr>
    <td>Epée Large</td>
    <td>34</td>
    <td>+2% de chance de coup critique</td>
    <td>Armurier de Hammerhead, Galdina et Repos des Chasseurs</td>
  </tr>

    </table>

   </div>
 </div>
</div>
