<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Fusil</h1>
      <br/>
      <table class="table table-striped table-bordered">
        <tr>
          <th>Nom</th>
          <th>Attaque</th>
          <th>Effets spéciaux</th>
          <th>Emplacement</th>
        </tr>
        <tr>
          <td>Pistolet</td>
          <td>33</td>
          <td>Dégâts de lésion X1,8</td>
          <td>Arme par défaut</td>
        </tr>
        <tr>
          <td>Cocyte</td>
          <td>42</td>
          <td>Inflige des dégâts de glace</td>
          <td>Armurier de Hammerhead, Galdina et Repos des Chasseurs</td>
        </tr>
      </table>
    </div>
  </div>
</div>
